.item {
  list-style-type: none;
}

.images {
  width: 250px;
  height: 200px;
}

#gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.button {
  width: 80px;
  height: 30px;
  background-color: lightcoral;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: green;
}

#validation-input.invalid {
  border-color: red;
}
